.app__posts {
  width: 100%;
}

.app__posts_input {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  width: 100%;
}

.posts__input_text textarea {
  box-sizing: border-box;
  margin: 0;
  width: 100%;
  background-color: #cccccc;
  overflow: hidden;
  font-size: 16px;
  resize: none;
  font-weight: 100;
  border-radius: 0 0 5px 5px;
  outline: none;
  border-top: 2px solid #767676;
  border-bottom: 0;
  border-left: 0;
  border-right: 0;
  padding: 6px 50px 4px 10px;
  overflow-y: auto;
}

.posts__input_text {
  margin: 0;
  width: 100%;
}

.posts__input_button {
  margin: 10px 0 0 0;
}

.posts__input_button button {
  box-sizing: border-box;
  width: 70px;
  text-align: left;
  margin: 0;
  color: #fff;
  background-color: #59b876;
}

.app__blog {
  margin: 70px 0 0 0;
}
