.weather_container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
  background-color: #3770c6;
  margin: 0px;
  padding: 7px;
  border-radius: 15px;
  font-size: 18px;
  color: #fefefc;
}

.weather_container p{
  margin: auto 0;
  padding: 0;
  font-weight: 500;
}

.weatherInformation {
  margin: 15px 2px 2px 2px;
  display: flex;
  justify-content: space-between;
}

.weatherInformation img {
  width: 35px;
  height: 35px;
  border-radius: 25%;
}

.weatherInformation p {
  font-size: 22px;
}
