.user__container {
  display: flex;
  flex-direction: row;
  margin: 10px 0;
  padding: 5px;
  border-radius: 10px;
  background-color: rgb(240 248 255 / 48%);
}

.user__avatar {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 10px 0 0;
  min-width: 68px;
}

.avatar__img_container {
  width: 50px;
  height: 50px;
  margin: 0 0 5px 0;
}

.avatar__img_container img {
  background-color: #faf6dd;
  display: block;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  overflow: hidden;
  object-fit: cover;
}

.user__avatar button {
  border-radius: 2px 2px 5px 5px;
  cursor: pointer;
  border: none;
  color: #fefefc;
  transition: 0.2s;
  text-align: center;
  text-decoration: none;
}

.user__information {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  padding: 10px;
  background-color: rgb(240 248 255 / 30%);
  border-radius: 10px;
}

.user__information p {
  margin: 0;
  padding: 0;
}

.user__data {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.user__data p {}

.user__location {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
}

.followedBtn {
  background-color: #c63737;
}

.unfollowedBtn {
  background-color: #00c153;
}
.followedBtn:hover {
  background-color: #d73b3b;
}

.unfollowedBtn:hover {
  background-color: #07d05e;
}
